@import './scss/main.scss';
@import 'medium';
@import 'large';


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
  }
.Spinner {
    animation: rotate 2s linear infinite;
    width: 32px;
    margin: 0 auto;
}

.SpinnerWrapper {
    display: flex;
    height: 100vh;
    align-items: center;
}